

.form-instance {
  padding: 40px 40px 40px 40px;
  display: flex;
  flex-direction: column;
}

.form-title {
  padding: 5px 5px 30px;
}

.redirect-link {
  display: flex;
  span {
    padding-right: 10px;
  }
  a {
  }
}
