

.form-instance {
  padding: 40px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  background-color: #3F51B5;
  color: white;
}

.form-title {
  padding: 5px 5px 30px;
}

.redirect-link {
  display: flex;
  span {
    padding-right: 10px;
  }
  a {
    color: #F51957;
  }
}
