
.home {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

.title {
  font-size: 50px;
  animation-name: text;
  animation-duration: 4s;
  white-space: nowrap;
}

.sub-title {
  width: 30%;
  font-size: 20px;
  white-space: pre-wrap;
  text-align: center;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  animation: fadein 8s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes text {
  from {letter-spacing: 2vh}
  to {letter-spacing: 0}
}
