@import '../../assets/styles/positioning';

%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  @include wrapper-center(100rem);
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;

  &Logo {
    margin-right: auto;
  }
}
