@import '~~global/styles/includes/positioning';
@import '~global/styles/variables/layout';

.header {
  @include wrapper-center($site-width);
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;

  &Logo {
    margin-right: auto;
  }
}
