@import '~styles/positioning';
@import '~styles/variables/layout';

%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  @include wrapper-center($site-width);
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;

  &Logo {
    margin-right: auto;
  }
}
