.container {
  flex-flow: column;
  span {
    display: block;
    font-size: 2rem;
  }
  .button {
    color: gray;
  }
  flex-flow: column;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
}