.container {
  flex-flow: column;
  .pay {
    margin: 1rem 0;
  }
  span {
    display: block;
    font-size: 2rem;
  }
  .button {
  }
  flex-flow: column;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
}