.container {
  display: flex;
  padding-top: 3rem;
  align-items: center;
  flex-flow: column;
  height: 100%;
  .title {
    color: gray;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5rem;
  }
  .content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .payment {
      justify-content: flex-end;
      width: 400px;
      display: flex;
    }
  }
}