
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  //// webpack doesn't accept absolute paths (stating with slash)
  //// file-loader will not load it because of the absolute path
  //// To load the images use relative paths
  //background-image: url('styles/pictures/background.png');
  //background-size: cover;
}

.container {
  display: flex;
  flex-flow: column;
  padding-top: 8vh;
  height: 100%;
}
